<h1>User List</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
   </tr>

<% @users.each do |user|%>
	<tr>
		<td><%= link_to user.name, user_path(user)%></td>
		<% if user_signed_in? %>
    		<% @user = current_user %>
    		<% if (@user.user_type ==2 && user.user_type !=1) || @user.id == user.id || @user.user_type ==1 %>	
				<td><%= link_to "Edit", edit_user_path(user) %></td>
			<% end %>
            <% if (@user.user_type ==2 && user.user_type != 1 && @user.id != user.id) || (@user.user_type ==1 && user.user_type != 1 ) || (@user.id == user.id && user.user_type != 1 && user.user_type != 2)%>    
                <td><%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"} , style: "color: red"%></td>
            <% end %>
		<% end %>
	</tr>
<% end %>
</table>


	
<% if user_signed_in? %>
    <% @user = current_user %>
    	<% if @user.user_type <= 2 %>	
    		<%= link_to 'Add User', new_user_path %>
    	<% end %>
<% end %>